@import "@/styles/_variables.scss";

#footer {
  background: #666;
  bottom: 0;
  display: block;
  height: $footerHeight;
  line-height: $footerHeight;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 20;

  p {
    color: #fff;
    margin: 0;
  }
}