@import "@/styles/_variables.scss";

#footer {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  display: block;
  height: $footerHeight;
  line-height: $footerHeight;
  position: absolute;
  text-align: center;
  width: 100%;

  p {
    color: #fff;
    margin: 0;
  }
}